.header {
    height: 40px;
    border-bottom: 1px solid #f1f3f4;
    padding: 0 8px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 1rem;
    /* font-size: clamp(1rem, 1.5vw , 1.125rem); */
    font-weight: bold;
    letter-spacing: 1px;
    grid-column-start: 1;
    grid-column-end: 11;
}

.header button {
    grid-column-start: 12;
    border: 1px solid gray;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.profile_btn {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-size: cover;
    cursor: pointer;
}