.form_control {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.form_control label {
    font-size: 0.75rem;
    /* font-size: clamp(0.8rem, 1.5vw , 1rem); */
    padding-bottom: 4px;
}

.form_control input {
    margin-bottom: 8px;
    font-size: 0.75rem;
    /* font-size: clamp(0.8rem, 1.5vw , 1rem); */
    padding: 4px;
}

.form_control input:focus {
    outline: none;
}