.container {
    display: block;
    position: relative;
    padding: 0 8px 0 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    background-color: #ccc;
}

.container:hover .input ~ .checkmark {
    background-color: #bbb;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 4px;
    height: 12px;
    border: solid #2196f3;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
