.list_wrapper {
    padding: 8px 0 0 8px;
}

.list {
    list-style: none;
    /* maintain min of 16px margin on right. */
    width: min(100% - 16px, 500px);
}

.btn_wrapper {
    padding-bottom: 8px;
}

.completed {
    padding: 16px 0 0 8px;
    font-size: 1.2rem;
}